<p>Hola <%= @resource.email %>!</p>

<p>Podes reiniciar tu password con el link que aparece aca abajo:</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, reset_password_token: @token) %></p>
