<div class="row">
  <div class="small-6 small-centered columns">
    <h1>Modificar compra</h1>

    <%= render 'form' %>

    <%= link_to 'Volver al listado', purchases_path, class: 'button small' %>
  </div>
</div>
