<div class="row">
<p>Acá podrá modificar autores y editoriales, así como agregar nuevos administradores.</p>
  Manejo de autores y editoriales
</div>  
<div class="row">
  <div class="large-8 columns">
    <h1> Panel de administración </h1>
    <ul class="button-group even-3 radius">
      <%= link_to 'Autores', authors_path, class: "small button" %>
      <%= link_to 'Editoriales', editorials_path, class: "small button" %>
      <%= link_to 'Categorías', tags_path, class: "small button" %>
    </ul>
  </div>
</div>
