<script type="text/javascript">
$(function(){

    $('#q-and-a li a').each(function(){
      $(this).click(function(){
        $(this).siblings('div').slideToggle(300);            
        });        
      });                

    });
</script>
<style media="screen" type="text/css">
div.detalle-ayuda p { text-indent: 8px; }
ul { margin: 0; padding: 0; }
ul li { margin: 0; padding: 0; list-style: none; }
ul li a { color: blue; }
ul li div { display: none; }
</style>

<center>
  <h1>Ayuda</h1>
  <h2>Preguntas frecuentes</h2>
  <hr style="width: 600px; color: #000000;">
<div class="row">
  <div class="small-6 column small-centered">
    <ul id="q-and-a">
      <li><a>¿Cómo me registro o identifico con mi cuenta en el sistema?</a>
      <div class="detalle-ayuda"><p> En la esquina superior derecha encontrarás enlaces para registrarte o identificarte en el sistema. Deberás proveer ciertos datos que la empresa necesita para eventualmente poder entregarte tu pedido. Una vez que te registres el sistema automáticamente te identifica y podés empezar a utilizarlo.</div>
      </li>
      <li><a>¿Cómo puedo ver los detalles de un libro?</a>
      <div class="detalle-ayuda"><p> Para ver información de tallada del libro debés registrarte en el sistema. Luego, en el listado de los libros, te aparecerá un botón 'Ver' para que 
        puedas ver la información completa del libro.</div>
      </li>
      <li><a>¿Cómo agrego un libro a mi carro de compras?</a>
      <div class="detalle-ayuda"><p> Una vez que te hayas registrado, y accedas a los detalles del libro, aparecerá un botón donde podrás elegir la cantidad de libros que querés
        agregar al carro junto al botón "Agregar al carro".</div>
      </li>
      <li><a>Una vez elegidos los libros, ¿cómo finalizo la compra?</a>
      <div class="detalle-ayuda"><p> Deberás acceder a tu carro de compras, haciendo click en el logo del carro en la esquina superior derecha. Luego, haciendo click en "confirmar compra" se te pedirá tu número de tarjeta de crédito y podrás abonar la compra.</div>
      </li>
      <li><a>¿Cómo veo el estado de mi pedido?</a>
      <div class="detalle-ayuda"><p> En la barra superior encontrarás un enlace a tus pedidos, donde podrás ver el listado de ellos, sus detalles, y el estado en el que se encuentran.</div>
      </li>
      <li><a>¿Cómo salgo del sistema?</a>
      <div class="detalle-ayuda"><p> En la barra superior se encuentra un enlace que dice "Salir". Haciendo click te deslogueás del sistema.</div>
      </li>
    </ul>
  </div>
</div>
</center>
