<div class="row">
  <div class="small-4 small-centered columns">
    <h1>Editar libro</h1>

    <%= render 'form' %>

    <%= link_to 'Mostrar libro', @book, class: 'button tiny' %>
    <%= link_to 'Volver al listado', books_path, class: 'button tiny' %>
  </div>
</div>
