<div class="row">
  <div class="small-4 small-centered columns">
    <h1>Editar libro</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @book %> |
    <%= link_to 'Back', books_path %>
  </div>
</div>