<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<div class="row">
  <p>
  <strong>Nombre:</strong>
  <%= @author.nombre %>
  </p>
</div>

<div class="row">
  <div class="large-6 column">
  <%= link_to 'Editar', edit_author_path(@author), class: 'button small' %> 
  <%= link_to 'Volver al listado', authors_path, class: 'button small' %>
  </div>
</div>
